      body{
        font-family: 'Roboto', 'Open Sans', sans-serif;
        background-image: url("./images/background.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        color: #c5c6cd;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: 300;
      }
      *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
      }
      ul {
        padding-left: 2em;
        margin-left: 1em;
      }
      ol {
        padding-left: 2em;
      }
      .container{
        max-width: 900px;
        margin: 0 auto;
        min-height: 100vh;
        background-color: rgba(29, 38, 54, 0.94);
      }
      .container-inner{
        padding: 1rem 1rem 4.5rem;
      }

      h1{
        margin: 1.5rem 0;
        text-align: center;
      }
      p{
        margin: 0.75rem 0;
      }
      a{
        color: #7baaf5;
      }
      .collapsible{
        border: 1px solid rgba(197, 198, 205, 0.45);
        margin: 0.5rem 0;
        border-radius: 3px;
      }
      .collapsible .heading{
        padding: 0.5rem 1rem;
        cursor: pointer;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 400;
      }
      .collapsible .heading,
      .collapsible .hider{
        padding: 0.5rem 1rem;
      }
      .collapsible .hider{
        display: none;
      }
      .collapsible.open>.hider{
        display: block;
      }
      footer{
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background-color: #1d2636;
        text-align: center;
        padding: 0.75rem 1rem;
        border-top: 1px solid rgba(197, 198, 205, 0.15);
        z-index: 10;
      }
      footer span{
        font-size: 0.75rem;
      }
      html{
       scrollbar-gutter: stable;
    }